*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

.container__principal {
    display: grid;
    background-image: url(../media/FONDO.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 200px 200px 600px 200px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "section section aside"
    "footer footer footer";
    font-family: 'Source Sans Pro', sans-serif;
}
/*menú y logo*/
.header__principal {
    display: flex;
    grid-area: header;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;      
}
.header__logo { 
    height: 150px;      
    }

nav ul li { 
    list-style: none;
    display: flex;
    font-size: 30px;
    display: inline;
    ;   
}

nav ul li a { 
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
/* transición menú */

nav ul li a:hover { 
    font-weight: bold;
}

.hijo__nav {
    justify-content: space-between;
}

/*nombre*/
.main__principal {
    grid-area: main; 
}
.título { 
    color: rgb(219, 13, 13);
    height: 50px;
    margin: 20px;   
}

.vinos__andinos { 
    font-size: 100px;
    padding: 80px;
    display: flex;
    justify-content: center;
 }

/*bloques texto*/
.section__principal { 
    background-image: linear-gradient(to bottom, cornsilk, #F7EE94);
    line-height: 1.6;
    width: 450px;
    margin: 40px;
    padding: 50px;
    grid-area: section;
}

/*página Nosotros*/
.título__nosotros { 
    color: brown;
    grid-area: main;
    font-size: 50px;
    margin: 20px;
}

.foto__andres { /*imagen nosotros*/
    height: 400px;
    padding: 100px;
    grid-area: aside;  
    }

/*página Vinos*/
.alfil__vino {  
    height: 500px;
    margin: 100px;
    
}
.losdragones__vino { 
    height: 500px;
    margin: 100px;
    
}

/*página Finca*/
.foto__viñedo { 
    height: 400px;
    padding: 100px;
    grid-area: aside;       
    }

/*página Contacto*/
.contacto { 
    border: solid 2px gray;
    padding: 50px;
 }

label { 
    display: block;
    }

/*FOOTER*/
.footer__principal {
    grid-area: footer;
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    body {
        background-image: url(../media/FONDO\ mobile.jpg);        
    }
  
}
  

