*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'charter';
    src: url(fuentes/charter.ttf) format('truetype');
}

.container__principal {
    display: grid;
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;        
    grid-template-rows: 200px 100px 600px 400px 200px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "section section section"
    "foto foto foto"
    "footer footer footer";
    font-family: 'charter';                
} 
.container__inicio {
    display: grid;
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;        
    grid-template-rows: 200px 300px 200px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    font-family: 'charter';
}   
.container__vinos {
    display: grid;
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;    
    grid-template-rows: 200px 1600px 200px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    font-family: 'charter';
}
.container__contacto {
    display: grid;
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;        
    grid-template-rows: 200px 600px 200px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    font-family: 'charter';        

}
/*menú y logo*/
.header__principal {
    display: flex;
    grid-area: header;
    flex-direction: row;   
    justify-content: space-between;      
}
.header__logo { 
    height: 150px;      
}
  /* transición menú */

nav ul li a:hover { 
    font-weight: bold;
}
        
/*nombre*/
.main__principal {
    grid-area: main; 
}
         
/*bloques texto*/
.section__principal { 
    background-image: linear-gradient(to bottom, cornsilk, #F7EE94);
    height: 550px;
    line-height: 1.6;
    width: 400px;
    margin: 10px;
    padding: 30px;
    overflow: auto;
    grid-area: section;            
}

/*página Nosotros*/
.título__nosotros { 
    color: #A56CBC;
    grid-area: main;
    font-size: 40px;
    margin: 20px;
}

.foto__andres { /*imagen nosotros*/
    height: 350px;
    padding: 30px;
    grid-area: foto;
}

/*página Vinos*/
.padre__vinos {
    grid: main;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: stretch;
}
    
/*página Finca*/
.foto__viñedo { 
    height: 380px;
    padding: 10px;
    grid-area: foto;       
}

/*página Contacto*/
.contacto { 
    padding: 50px;            
}
    
/*FOOTER*/
.footer__principal {
    padding-top: 50px;
    background-color: black;
    color: white;
    grid-area: footer;
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    
    .container__principal {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
        grid-template-rows: 200px 100px 400px 400px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "foto foto foto"
        "section section section"
        "footer footer footer";
        font-family: 'charter';                
    } 
    .container__inicio {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
        grid-template-rows: 200px 400px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        font-family: 'charter';
    }   
    .container__vinos {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;    
        grid-template-rows: 200px 1000px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        font-family: 'charter';
    }
    .container__contacto {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
        grid-template-rows: 200px 600px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        font-family: 'charter';          
    }
    /*menú y logo*/
    .header__principal {
        display: flex;
        grid-area: header;
        flex-direction: row;   
        justify-content: space-between;      
    }
    .header__logo { 
        height: 150px;      
    }
      /* transición menú */
    
    nav ul li a:hover { 
        font-weight: bold;
    }
            
    /*nombre*/
    .main__principal {
        grid-area: main; 
    }
             
    /*bloques texto*/
    .section__principal { 
        background-image: linear-gradient(to bottom, cornsilk, #F7EE94);
        height: 350px;
        line-height: 1.6;
        width: 700px;
        margin: 10px;
        padding: 30px;
        grid-area: section;            
    }
    
    /*página Nosotros*/
    .título__nosotros { 
        color: #A56CBC;
        grid-area: main;
        font-size: 40px;
        margin: 20px;
    }
    
    .foto__andres { /*imagen nosotros*/
        height: 350px;
        padding: 30px;
        grid-area: foto;
    }
    
    /*página Vinos*/
    .padre__vinos {
        grid: main;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-content: stretch;
    }
        
    /*página Finca*/
    .foto__viñedo { 
        height: 380px;
        padding: 10px;
        grid-area: foto;       
    }
    
    /*página Contacto*/
    .contacto { 
        padding: 50px;            
    }
        
    /*FOOTER*/
    .footer__principal {
        padding-top: 50px;
        background-color: black;
        color: white;
        grid-area: footer;
        height: 200px;
        display: flex;
        justify-content: center;
        font-size: 17px;
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .container__principal {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;        
        grid-template-rows: 200px 200px 800px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "section section aside"
        "footer footer footer";
        font-family: 'charter';    
    }
    .container__inicio {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;        
        grid-template-rows: 200px 200px 800px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "section section aside"
        "footer footer footer";
        font-family: 'charter';    
    }
    .container__vinos {
        display: grid;
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;    
        grid-template-rows: 200px 800px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        font-family: 'charter';    
    }
    
    .container__contacto {
        display: grid;   
        background-image: url(../media/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'charter';
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 800px 200px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    /*menú y logo*/
    .header__principal {
        display: flex;
        grid-area: header;
        flex-flow: row wrap;   
        align-items: center;
        justify-content: space-between;      
    }
    .header__logo { 
        height: 120px;      
    }
    
    nav ul li { 
        list-style: none;
        display: flex;
        font-size: 20px;
        display: inline;       
    }
    
    nav ul li a { 
        color: black;
        text-decoration: none;
        margin: 0 10px;
    }
    /* transición menú */   
    
    nav ul li a:hover { 
        font-weight: bold;
    }
    
    .hijo__nav {
        justify-content: space-between;
    }
    
    /*nombre*/
    .main__principal {
        grid-area: main; 
    }
    
    /*bloques texto*/
    .section__principal { 
        background-image: linear-gradient(to bottom, cornsilk, #F7EE94);
        height: 580px;
        line-height: 1.6;
        width: 550px;
        margin: 40px;
        padding: 50px;
        grid-area: section;
    }
    
    /*página Nosotros*/
    .título__nosotros { 
        color: #A56CBC;
        grid-area: main;
        font-size: 50px;
        margin: 20px;
    }
    
    .foto__andres { /*imagen nosotros*/
        height: 550px;
        padding: 100px;
        grid-area: aside;  
    }
    
    /*página Vinos*/
    
    .padre__vinos {
        grid: main;
        display: flex;
        flex-direction: row;
        padding: 40px;
    }
    
    /*página Finca*/
    .foto__viñedo { 
        height: 600px;
        padding: 100px;
        grid-area: aside;       
        }
    
    /*página Contacto*/
    .contacto { 
        padding: 50px;        
    }
    
    /*FOOTER*/
    .footer__principal {
        padding-top: 50px;
        background-color: black;
        color: white;
        grid-area: footer;
        height: 200px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        text-align: center;
    }
}


  

